/*文字化け防止の為必ず最初に記述する*/
@charset "UTF-8";

/*　-------------共通部分---------------*/

html{
  font-size: 100%;
}

body{
  font-family: "Yu Gothic Medium","游ゴシック Medium",YuGotic,"游ゴシック体","ヒラギノ角ゴ Pro W3",sans-serif;
  line-height: 1.7;
  color: #000;
}

a{
  text-decoration: none;
}

img{
  max-width: 100%;
}

/*　-------------header---------------*/
.logo{
  width:80px;
  margin-top: 14px;
  border-radius: 50%;
  opacity: 0.9;
}

.main-nav{
  display: flex;
  font-size: 1rem;
  text-transform: uppercase;
  margin-top:60px;
  list-style: none;
}

.main-nav li{
  margin-left: 34px;
}

.main-nav a{
  color: #fff;
}

.main-nav a:hover{
  color: red;
}

.page-header{
  display: flex;
  justify-content: space-between;
}

.wrapper{
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 4%;
}


/*　-------------HOME---------------*/
.home-content{
  text-align: center;
  margin-top: 20%;
}

.home-content p{
  font-size: 1.125rem;
  margin: 10px 0 42px;
  color:#fff;
  opacity: 0.8;
}

/*　-------------見出し---------------*/
.page-title{
  font-size: 4rem;
  font-family:serif;
  text-transform: uppercase;
  font-weight: normal;
  color: #fff;
  opacity: 0.8;
}

/*　-------------見出し---------------*/
.button{
  font-size: 1rem;
  background: #000;
  color: #fff;
  border-radius: 5px;
  padding: 10px 30px;
  font-family: serif;
  opacity: 0.8;
}

.button:hover{
  background: red;
}

/*　-------------大きな背景動画---------------*/
.big-bg{
  background-size: cover;
  background-position: :center top;
  background-repeat: no-repeat;
}


#home{
  background-image: url(../images/IMG_4257.jpeg);
  min-height:130vh;

}

#home .page-title{
  text-transform: none;
}


/*　-------------NEWS---------------*/
#news{
  background-image: url(../images/IMG_9278.jpeg);
  height:270px;
  margin-bottom: 40px;
}

#news .page-title{
  text-align: center;

}

/*　------------- footer始まり---------------*/
footer{
  background-color: #000;
  text-align: center;
  padding: 26px 0;
}

footer p{
  color: #fff;
  font-size: 0.875rem;
}

/*　------------- 記事の部分---------------*/

article{
  width: 74%;
}

article img{
  margin:20px 0;
}

article p{
  margin-bottom: 1rem;
}

.post-info{
  position: relative;
  padding-top: 4px;
  margin-bottom: 40px;
}

.post-date{
  background: #000;
  border-radius: 50%;
  color: #fff;
  width: 100px;
  height: 100px;
  font-size: 1.625rem;
  text-align: center;
  position: absolute;
  top:0;
  padding-top: 10px
  
  
}

.post-date span {
    font-size: 1rem;
    border-top: 1px rgba(255,255,255,.5) solid;
    padding-top: 6px;
    display: block;
    width: 60%;
    margin: 0 auto;
}

.post-title{
  font-family: "Yu Mincho","YuMincho",serif;
  font-size: 2rem;
  font-weight: normal;
}

.post-title,.post-cat{
  margin-left: 120px;
}

/*　------------- サイドバー---------------*/
aside{
  width: 22%;
}

aside p{
  padding: 12px 10px;
}


#news .page-title {
    text-align: center;
}
.news-contents {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.sub-title{
  font-size: 1.375rem;
  padding: 0 8px 8px;
  border-bottom: 2px #000 solid;
  font-weight: normal;
}

.sub-menu{
  list-style: none;
}

.sub-menu li{
  border-bottom: 1px #ddd solid;
}

.sub-menu a{
  color: #432;
  padding: 10px;
  display: block;
}

.sub-menu a:hover{
  color:red;
}

.winwin{
  margin-top: 60px;
}

/*　------------- collection---------------*/
#collection{
  background-image: url(../images/IMG_0024.jpeg);
  min-height: 130vh;
  background-color:#7b6b7f;
  background-blend-mode:hard-light;
}

.collectoin-content{
  max-width: 600px;
  margin-top: 20%;
}

.collectoin-content .page-title{
  text-align: center;
}

.collectoin-content p{
  font-size: 1.125rem;
  margin:10px 0 0;
  color: #fff;
  opacity: 0.8;
  text-align: center;
}

.grid {
  display: grid;
  grid-gap: 26px;
  grid-template-columns: repeat(auto-fit,minmax(240px,1fr));
  margin-top: 6%;
  margin-bottom: 50px;
}

.grid p{
  text-align: center;
}

.big-box{
  grid-column: 1 / 3;
  grid-row: 1 / 3;
}

.big-box img{
  height: 95%;
  width: 100%;
  object-fit: cover;
}

/*　------------- contact---------------*/

#contact{
  background-image: url(../images/IMG_7254.jpeg);
  min-height: 130vh;
  text-align: center;
  color: #fff;
}

/*　-------------フォーム---------------*/
form div {
    margin-bottom: 14px;
   margin-top: 50px;
}
label {
    font-size: 1.125rem;
    margin-bottom: 10px;
    display: block;
}
input[type="text"],
input[type="email"],
textarea {
    background: rgba(255,255,255,.5);
    border: 1px #fff solid;
    border-radius: 5px;
    padding: 10px;
    font-size: 1rem;
}
input[type="text"],
input[type="email"] {
    width: 100%;
    max-width: 480px;
}
textarea {
    width: 100%;
    max-width: 480px;
    height: 6rem;
}
input[type="submit"] {
    border: none;
    cursor: pointer;
    line-height: 1;
   margin-top: 30px;
}


/*　-------------店舗・地図---------------*/
#location {
    padding: 4% 0;
}
#location .wrapper {
    display: flex;
    justify-content: space-between;
}
.location-info {
    width: 22%;
}

.location-info h3{
  text-align: center;
}

.location-info p {
    padding: 12px 10px;
}
.location-map {
    width: 74%;
}

/*　-------------Pierce---------------*/
#pierce{
  background-image: url(../images/IMG_9439.jpeg);
  height: 270px;
  margin-bottom: 40px;
}

#pierce .page-title{
  text-align: center;
}

/*　-------------shop---------------*/
#shop{
  background-image: url(../images/IMG_9351.jpeg);
  height: 270px;
  margin-bottom: 40px;
}

#shop .page-title{
  text-align: center;
}

/*　-------------silver---------------*/
#silver{
  background-image: url(../images/IMG_9332.jpeg);
  height: 270px;
  margin-bottom: 40px;
}

#silver .page-title{
  text-align: center;
}
